<br>

<div class="container">

    <form [formGroup]="formValue">

        <div class="mb-3">
            <input type="text" formControlName="firstName" class="form-control" id="formGroupExampleInput" placeholder="Enter first name">
        </div>
        <div class="mb-3"> 
            <input type="text" formControlName="lastName" class="form-control" id="formGroupExampleInput2" placeholder="Enter  last name">
        </div>
        <div class="mb-3">
            <input type="text" formControlName="dob" class="form-control" id="formGroupExampleInput2" placeholder="Enter DOB (yyyy-mm-dd)">
        </div>
        <div class="mb-3">
            <input type="text" formControlName="tpno" class="form-control" id="formGroupExampleInput2" placeholder="Enter telephone no">
        </div>
        <div class="mb-3">
            <input type="text" formControlName="email" class="form-control" id="formGroupExampleInput2" placeholder="Enter email">
        </div>

        <div class="mb-3">
            <input type="text" formControlName="status" class="form-control" id="formGroupExampleInput2" placeholder="Enter status(Maried/Single)">
        </div>
    
        <div class="mb-3">
            <input type="text" formControlName="city" class="form-control" id="formGroupExampleInput2" placeholder="Enter city">
        </div>
        <div class="mb-3">
            <input type="text" formControlName="remark" class="form-control" id="formGroupExampleInput2" placeholder="Enter remark">
        </div>
    
        <button type="button" class="btn btn-success" (click)= "addemployee()">Add</button>
    </form>

       

</div>

